extends layout

block content
  - let base = path.length > 0 ? '/' + path.join('/') + '/' : '/'
  .container
    h1
      a(href='/') Pictures
      each p, i in path
        | &nbsp;/&nbsp;
        a(href='/' + path.slice(0, i + 1).join('/'))= p
    ul
      each path in dirs
        li.list-group-item
          a(href=base + path.name + '/')= path.name
    ul
      each path in files
        a(href='/' + path.path + '/' + path.name)
          img.img-thumbnail(src='/' + path.path + '/' + path.thumbnail.name, width=100, height=100)
