extends layout

block content
  .container
    h1
      a(href='/') Pictures
      | &nbsp;
      each p, i in path
        | /&nbsp;
        a(href='/' + path.slice(0, i + 1).join('/'))= p
        | &nbsp;
    ul
      each path in dirs
        li.list-group-item
          a(href=path.name + '/')= path.name
    ul
      each path in files
        a(href='/' + path.path + '/' + path.name)
          img.img-thumbnail(src='/' + path.path + '/' + path.thumbnail.name, width=100, height=100)
